@charset "utf-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&family=Noto+Sans+KR:wght@400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: #000;
  text-decoration: none;
}

img {
  border: 0;
  vertical-align: middle;
}

ul,
li {
  list-style: none;
}

html {
  font-size: 10px;
  overflow-x: hidden;
}

body {
  font-family: "Montserrat", "Noto Sans KR", sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.4;
  letter-spacing: -.05rem;
  color: #333;
}

/* 공통 클래스 */
.container {
  position: relative;
  display: block;
  width: 114rem;
  margin: 0 auto;
}

.clearfix::after {
  content: "";
  position: relative;
  display: block;
  width: 100%;
  clear: both;
}

/* 로그인창 */
.login {
  position: fixed;
  left: 0;
  top: 0;
  display: none;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, .6);
  z-index: 7;
}

.login-box {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: block;
  width: 48rem;
  height: auto;
  background-color: #fff;
  border: .1rem solid #000;
  padding: 2.3rem 3.1rem 3rem 3.1rem;
  z-index: 8;
}

.login__tit {
  display: block;
  width: 100%;
  font-size: 2.4rem;
  font-weight: 700;
  letter-spacing: -.175rem;
  border-bottom: .1rem solid #000;
  padding-bottom: 1.5rem;
}

.login__close {
  position: absolute;
  right: 2.5rem;
  top: 2.5rem;
  display: block;
  width: 3rem;
  height: 3rem;
  font-size: 0;
  background: none;
  border: 0;
  cursor: pointer;
}

.login__close i {
  display: inline-block;
  width: 1.9rem;
  height: 1.9rem;
  font-size: 0;
  background: url('../images/ico_sprite_pc.png') no-repeat -71.1rem -44rem;
}

#login-form {
  display: block;
  margin-top: 2rem;
}

.login__id,
.login__pw {
  display: block;
  width: 100%;
  height: 4rem;
  font-size: 1.5rem;
  line-height: 1.6rem;
  letter-spacing: -.025rem;
  color: #000;
  border: .1rem solid #ddd;
  padding: .7rem 1.5rem .8rem 1.5rem;
  margin-bottom: 1rem;
}

.login__pw {
  margin-bottom: 0;
}

.login__id::placeholder,
.login__pw::placeholder {
  color: rgba(0, 0, 0, .5);
}

.id-save-wrap {
  position: relative;
  display: block;
  height: 2.2rem;
  margin-top: 1.5rem;
}

#login__id-save {
  display: none;
}

#login__id-save+label {
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  width: 2.2rem;
  height: 2.2rem;
  background: url('../images/ico_ui_checkbox.png') no-repeat 0 0;
  cursor: pointer;
}

#login__id-save:checked+label {
  color: #000;
  background-position: 0 -2.2rem;
}

#login__id-save+label span {
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  font-size: 1.5rem;
  line-height: 2.2rem;
  white-space: nowrap;
  color: #333;
  padding-left: 3rem;
}

#login__id-save:checked+label span {
  color: #000;
}

.login__btn {
  width: 100%;
  font-size: 1.5rem;
  line-height: 5rem;
  color: #fff;
  background: #47ad1a;
  border: 0;
  margin-top: 2.5rem;
  cursor: pointer;
}

.login-link {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

.login-link a {
  position: relative;
  font-size: 1.5rem;
  color: #7e7e7e;
  padding: 0 1.1rem;
}

.login-link a::after {
  content: '';
  position: absolute;
  left: 0;
  top: .5rem;
  display: block;
  width: .1rem;
  height: 1.1rem;
  background: #ccc;
}

.login-sns {
  margin-top: 7rem;
}

.login-sns h3 {
  font-size: 1.8rem;
  font-weight: 500;
  color: #333;
  margin-bottom: 1.5rem;
}

.login-sns button {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: #fff;
  border: .1rem solid #ccc;
  margin-bottom: 1rem;
  cursor: pointer;
}

.icon-kakao {
  display: block;
  width: 2.4rem;
  height: 2.2rem;
  background: url('../images/ico_sprite_pc.png') no-repeat -46.2rem -5rem;
  margin: 1.2rem .8rem 0 0;
}

.icon-naver {
  display: block;
  width: 2.2rem;
  height: 2.2rem;
  background: url('../images/ico_sprite_pc.png') no-repeat -49.6rem -5rem;
  margin: 1.2rem .8rem 0 0;
}

.login-sns button span {
  display: inline-block;
  font-size: 1.4rem;
  line-height: 4.6rem;
  color: #777;
}

.wrap {
  position: relative;
  display: block;
  overflow: hidden;
}

/* Header */
.header {
  position: fixed;
  top: 0;
  display: block;
  width: 100%;
  z-index: 6;
}

.header-top {
  position: relative;
  display: block;
  height: 3rem;
  background: #f3f3f3;
  border-bottom: .1rem solid #ddd;
  padding: .9rem 0;
}

.header-top-left {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
}

.header-top-left>li {
  position: relative;
  display: block;
  float: left;
  padding: 0 1rem;
}

.header-top-left>li:first-child {
  padding-left: 0;
}

.header-top-left>li::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  width: .1rem;
  height: 1rem;
  background: #aaa;
}

.header-top-left>li:last-child::after {
  display: none;
}

.header-top__menu {
  display: block;
  float: left;
  font-size: 1.1rem;
  font-family: "돋움", "Dotum", "Noto Sans KR";
  line-height: 1;
  color: #9b9b9b;
  cursor: pointer;
}

.header-top__menu:hover {
  text-decoration: underline;
}

.header-top-right {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
}

.header-top-right>li {
  position: relative;
  display: block;
  float: left;
  padding: 0 1rem;
}

.header-top-right>li:last-child {
  padding-right: 0;
}

.header-top-right>li::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  width: .1rem;
  height: 1rem;
  background: #aaa;
}

.header-top-right>li:last-child::after {
  display: none;
}

.header-main {
  position: relative;
  display: block;
  background: #fff;
  border-bottom: .1rem solid #ddd;
  padding: 1.7rem 0 1.1rem 0;
}

.header-main .container {
  height: 4.7rem;
}

.header-main__logo {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
}

.gnb {
  position: absolute;
  top: 0;
  left: 14.7rem;
  display: block;
}

.dep01 {
  display: block;
}

.dep01>li {
  display: block;
  float: left;
  padding-right: 6rem;
}

.mainmenu {
  display: block;
  font-size: 2rem;
  font-weight: 700;
  line-height: 4.7rem;
  color: #333;
  transition: all 0.1s;
}

.mainmenu:hover {
  color: #81b825;
}

.my-menu {
  position: absolute;
  top: .9rem;
  right: 0;
  display: block;
}

.my-menu-list {
  position: relative;
  display: block;
}

.my-menu-list>li {
  display: block;
  float: left;
  margin-left: 3rem;
}

.my-menu-list>li:first-child {
  margin-left: 0;
}

.my-menu__icon {
  display: block;
  width: 3rem;
  height: 3rem;
  font-size: 0;
  background: url("../images/ico_sprite_pc.png") no-repeat;
  cursor: pointer;
}

.my-menu__icon--srch {
  background-position: -1rem -1rem;
}

.my-menu__icon--wish {
  background-position: -5rem -1rem;
}

.my-menu__icon--cart {
  background-position: -9rem -1rem;
}

.srch {
  position: absolute;
  left: 0;
  top: 10.6rem;
  display: none;
  width: 100%;
  background-color: #fff;
}

.srch .container {
  padding: 4.7rem 0 4.1rem 0;
}

.srch__close {
  position: absolute;
  right: -.5rem;
  top: 2.4rem;
  display: block;
  width: 3rem;
  height: 3rem;
  font-size: 0;
  background: none;
  border: 0;
  cursor: pointer;
}

.srch__close i {
  display: inline-block;
  width: 1.9rem;
  height: 1.9rem;
  font-size: 0;
  background: url('../images/ico_sprite_pc.png') no-repeat -71.1rem -44rem;
}

#srch-form {
  position: relative;
  display: block;
  width: 59rem;
  height: 4.3rem;
  border-bottom: .2rem solid #000;
  margin: 0 auto;
  padding-right: 4.7rem;
}

#srch-form input {
  width: 54.3rem;
  height: 4.1rem;
  font-size: 1.8rem;
  font-weight: 400;
  letter-spacing: -.045rem;
  padding: .8rem 0;
  border: 0;
}

#srch-form input:focus {
  outline: none;
}

#srch-form input::placeholder {
  color: rgba(0, 0, 0, .5);
}

#srch-form a {
  position: absolute;
  right: 1rem;
  top: 0;
  display: block;
  width: 3rem;
  height: 3rem;
  font-size: 0;
  background: url('../images/ico_sprite_pc.png') no-repeat -1rem -1rem;
}

.srch-tag {
  display: flex;
  width: 59rem;
  margin: 1.4rem auto 0 auto;
}

.srch-tag a {
  display: block;
  font-size: 1.3rem;
  color: #777;
  letter-spacing: -.0325rem;
  border: .1rem solid #999;
  padding: .4rem .8rem .4rem .9rem;
  margin-right: .4rem;
}

.srch-banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 59rem;
  height: 12rem;
  text-align: center;
  background: url('../images/srch-banner.jpg') no-repeat center;
  margin: 6.4rem auto 0 auto;
}

.srch-banner span {
  display: block;
  font-size: 2.6rem;
  font-weight: 500;
  line-height: 3.64rem;
  letter-spacing: -.13rem;
  color: #291f07;
  margin-bottom: .7rem;
}

.srch-banner span strong {
  font-weight: 700;
}

.srch-banner a {
  display: block;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 2.1rem;
  color: #333;
}

/* Main slide */
.main-slide {
  position: relative;
  display: block;
  background: #f4f4f4;
  padding-top: 10.6rem;
}

.sw-main-slide {
  width: 160rem;
  height: 56.1rem;
  margin: 0 auto;
}

.sw-main-slide a {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}

.sw-main-slide a img {
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  width: 160rem;
  height: 56.1rem;
}

.sw-main-slide__pg {
  position: absolute;
  left: calc(50% + 57rem - 5.2rem);
  bottom: 11rem;
  display: block;
  width: 5.2rem;
  height: 3.4rem;
  text-align: center;
  line-height: 3.4rem;
  color: #fff;
  background: rgba(0, 0, 0, 0.2);
  border-radius: 1.7rem;
  z-index: 1;
}

/* Personal */
.personal {
  position: relative;
  display: block;
  background: #f4f4f4;
}

.personal .container {
  height: 20.2rem;
  background: #fff;
  padding: 3rem;
  margin-top: -9rem;
  z-index: 1;
}

.personal-top {
  display: block;
}

.personal__tit {
  display: block;
  font-size: 2.6rem;
  font-weight: 400;
  line-height: 1;
  letter-spacing: -.15rem;
  color: #333;
  margin-bottom: 1.5rem;
}

.personal-main {
  position: relative;
  display: block;
}

.personal-left {
  position: relative;
  display: block;
  float: left;
  width: 46rem;
  padding-right: 2.2rem;
}

.sw-personal {
  display: block;
  padding-top: 1.9rem;
}

.sw-personal ul li a {
  display: block;
  text-align: center;
}

.sw-personal__icon {
  display: block;
  width: 4.6rem;
  height: 4.6rem;
  background: url("../images/ico_sprite_pc.png") no-repeat;
  margin: 0 auto 1.3rem auto;
}

.sw-personal__icon--1 {
  background-position: -1rem -8rem;
}

.sw-personal__icon--2 {
  background-position: -6.4rem -8rem;
}

.sw-personal__icon--3 {
  background-position: -11.8rem -8rem;
}

.sw-personal__icon--4 {
  background-position: -17.2rem -8rem;
}

.sw-personal__icon--5 {
  background-position: -56.3rem -8rem;
}

.sw-personal__icon--6 {
  background-position: -61.9rem -8rem;
}

.sw-personal__tit {
  display: block;
  font-size: 1.5rem;
  letter-spacing: -.1rem;
  color: #333;
}

.sw-personal__pg {
  position: absolute;
  top: 0;
  right: 2.2rem;
  display: block;
  line-height: 0;
}

.sw-personal__pg .swiper-pagination-bullet {
  width: .8rem;
  height: .8rem;
  background: #ddd;
  opacity: 1;
  margin: 0 0 0 .6rem !important;
}

.sw-personal__pg .swiper-pagination-bullet-active {
  background: #47ad1a;
}

.personal-right {
  position: relative;
  display: block;
  float: left;
  width: 62rem;
  border-left: .1rem dashed #e5e5e5;
  padding-left: 1.5rem;
}

.personal__txt {
  display: block;
  font-size: 3.2rem;
  line-height: 1.375;
  letter-spacing: -.15rem;
  color: #333;
  padding: 0 0 1rem 2.5rem;
}

.personal__login {
  position: absolute;
  top: 2.7rem;
  right: 1rem;
  display: block;
  width: 15rem;
  height: 5rem;
  background: #47ad1a;
  padding: 0 2rem;
  cursor: pointer;
}

.personal__login span {
  display: block;
  font-size: 1.5rem;
  line-height: 5rem;
  text-align: center;
  color: #fff;
}

/* Recommend */
.reco {
  position: relative;
  display: block;
  background: #f4f4f4;
  padding: 10rem 0;
}

.reco__tit {
  display: block;
  font-size: 3.2rem;
  font-weight: 400;
  text-align: center;
  line-height: 3.2rem;
  letter-spacing: -.25rem;
  color: #333;
  font-family: "Montserrat", "Noto Sans KR";
  margin-bottom: 3rem;
}

.prd {
  position: relative;
  display: block;
  float: left;
  width: 27rem;
  height: 41rem;
  background: #fff;
  border: .1rem solid #ccc;
  text-align: center;
  margin-right: 2rem;
}

.prd:last-child {
  margin-right: 0;
}

.prd__badge {
  position: absolute;
  top: 1rem;
  left: 1rem;
  display: block;
  width: 3.6rem;
  height: 3.6rem;
  font-size: 1.1rem;
  font-weight: 500;
  line-height: 3.6rem;
  text-align: center;
  color: #fff;
  border-radius: 100%;
  z-index: 1;
}

.prd__badge--new {
  background: #f18c15;
}

.prd__badge--best {
  background: #47ad1a;
}

.prd__img {
  display: block;
  width: 26.8rem;
  height: 26.8rem;
}

.prd__tit {
  display: block;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.35;
  letter-spacing: -0.05rem;
  color: #333;
  font-family: "Montserrat", "Noto Sans KR";
  margin: 1.7rem 3rem .8rem 3rem;
}

.prd__price {
  display: inline-block;
  font-size: 1.7rem;
  color: #333;
  font-family: "Montserrat", "Noto Sans KR";
}

.prd__volume {
  display: inline-block;
  font-size: 1.5rem;
  color: #999;
  font-family: "Montserrat", "Noto Sans KR";
}

.prd__wish {
  position: absolute;
  top: 1.8rem;
  right: 1.8rem;
  display: block;
  width: 2.7rem;
  height: 2.3rem;
  font-size: 0;
  background: url("../images/ico_sprite_pc.png") no-repeat -25rem -1rem;
  z-index: 1;
}

.reco-detail {
  display: block;
  font-size: 0;
  text-align: center;
  margin-top: 5rem;
}

.reco-detail__txt {
  display: inline-block;
  font-size: 2.2rem;
  line-height: 3rem;
  vertical-align: top;
  color: #555;
}

.reco-detail__txt::after {
  content: "";
  display: inline-block;
  width: 3rem;
  height: 3rem;
  vertical-align: top;
  background: url("../images/ico_sprite_pc.png") no-repeat -67.4rem -8rem;
  margin-left: .7rem;
}

/* Best */
.best {
  position: relative;
  display: block;
  padding: 11rem 0;
}

.best-left {
  position: relative;
  display: block;
  float: left;
  width: 22rem;
}

.best__tit {
  display: block;
  font-size: 3.2rem;
  font-weight: 500;
  line-height: 1;
  letter-spacing: -.1rem;
  color: #333;
  margin-bottom: 2.4rem;
}

.age-list {
  position: relative;
  display: block;
}

.age {
  position: relative;
  display: block;
  cursor: pointer;
  z-index: 1;
}

.age-link {
  display: block;
  width: 100%;
  height: 5.6rem;
  font-size: 0;
  padding-left: 1.5rem;
}

.age__menu {
  display: inline-block;
  font-size: 1.7rem;
  line-height: 5.6rem;
  color: #b5b5b5;
  transition: all .3s;
}

.age__menu em {
  font-size: 1.8rem;
  font-weight: 700;
  font-style: normal;
}

.age--focused .age__menu {
  color: #fff;
}

.age__icon {
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
  margin: 2.1rem 0 0 .7rem;
  transition: all .3s;
}

.age__icon--down {
  background: url("../images/ico_sprite_pc.png") no-repeat -17.6rem -5rem;
}

.age--focused .age__icon--down {
  background-position: -15.1rem -5rem;
}

.age__icon--up {
  background: url("../images/ico_sprite_pc.png") no-repeat -22.6rem -5rem;
}

.age--focused .age__icon--up {
  background-position: -20.1rem -5rem;
}

.age-cover {
  position: absolute;
  left: 0;
  top: 5.6rem;
  display: block;
  width: 100%;
  height: 5.6rem;
  background-color: #f0831f;
  transition: all .3s;
}

.age-cover svg {
  position: absolute;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
  width: 2rem;
  height: 2rem;
  color: #fff;
}

.best-right {
  position: relative;
  display: block;
  float: right;
}

.best-right .prd-list:first-child .prd {
  margin-bottom: 2rem;
}

.prd--1st {
  width: 56rem;
  text-align: left;
  padding-left: 4rem;
}

.prd__rank {
  position: absolute;
  top: 2rem;
  left: 2rem;
  display: block;
  font-size: 1.6rem;
  text-align: left;
  color: #999;
  z-index: 1;
}

.prd__rank em {
  font-size: 2.6rem;
  color: #333;
  line-height: 2rem;
  font-weight: normal;
  font-style: normal;
}

.prd__rank--1st {
  width: 6.6rem;
  height: 6.6rem;
  font-size: 1.8rem;
  text-align: center;
  border: .1rem solid #429e31;
}

.prd__rank--1st em {
  font-size: 6rem;
  font-weight: 500;
  line-height: 6.4rem;
  color: #429e31;
}

.prd-cont {
  display: none;
}

.prd-cont02 {
  display: block;
}

.prd__tit--1st {
  width: 19.8rem;
  font-size: 3.4rem;
  text-align: left;
  letter-spacing: -0.12em;
  word-spacing: -.2rem;
  margin: 12rem 0 .6rem 0;
}

.prd__price--1st {
  font-size: 2.1rem;
}

.prd__volume--1st {
  font-size: 1.9rem;
}

.prd__img--1st {
  position: absolute;
  top: 7rem;
  right: 3rem;
  width: 27rem;
  height: 27rem;
}

/* Banner */
.banner {
  position: relative;
  display: block;
  background: #ac96e9;
}

.banner a {
  display: block;
  width: 160rem;
  height: 32rem;
  margin: 0 auto;
}

/* CS */
.cs {
  position: relative;
  display: block;
  background: #f4f4f4;
  padding: 10rem 0;
}

.cs-top {
  position: relative;
  display: block;
}

.cs__tit {
  display: block;
  font-size: 3.2rem;
  font-weight: 500;
  text-align: center;
  line-height: 3.2rem;
  color: #333;
  margin-bottom: 3rem;
}

.cs-more {
  position: absolute;
  bottom: 0;
  right: 0;
  display: block;
}

.cs-more__txt {
  display: inline-block;
  font-size: 1.5rem;
  font-weight: 500;
  color: #777;
}

.cs-more__icon {
  display: inline-block;
  width: .7rem;
  height: 1rem;
  background: url("../images/ico_sprite_pc.png") no-repeat -26.9rem -5rem;
  margin: .5rem 0 0 .3rem;
}

.cs-cont {
  position: relative;
  display: block;
}

.cs-list {
  position: relative;
  display: block;
}

.cs-box {
  position: relative;
  display: block;
  float: left;
  width: 27rem;
  height: 15rem;
  background: #fff;
  border: .1rem solid #eee;
  padding: 3rem 2rem 3rem 9.7rem;
  margin-right: 2rem;
}

.cs-box:last-child {
  margin-right: 0;
}

.cs__icon {
  position: absolute;
  top: 3.7rem;
  left: 2rem;
  display: inline-block;
  width: 5.9rem;
  height: 5.4rem;
  vertical-align: top;
  background: url("../images/ico_sprite_pc.png") no-repeat;
}

.cs__icon--prd {
  background-position: -7.9rem -13.6rem;
}

.cs__icon--cs {
  background-position: -14.8rem -13.6rem;
}

.cs__icon--order {
  background-position: -1rem -13.6rem;
}

.cs__txt {
  display: block;
  font-size: 1.6rem;
  letter-spacing: -0.075rem;
  color: #333;
}

.cs__txt--color {
  color: #429e31;
}

/* Banner slide */
.banner-slide {
  position: relative;
  display: block;
}

.sw-banner-slide__slide-1 {
  background: #eff5fb;
}

.sw-banner-slide__slide-2 {
  background: #f9f9f9;
}

.banner-slide__banner-link {
  position: relative;
  display: block;
  width: 160rem;
  height: 17rem;
  margin: 0 auto;
}

.banner-slide__banner-link img {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

/* Information */
.info {
  position: relative;
  display: block;
  padding: 5rem 0;
}

.notice {
  position: relative;
  display: block;
  float: left;
  width: 51rem;
  margin-right: 6rem;
}

.notice-top {
  position: relative;
  display: block;
}

.notice__tit,
.cs-center__tit,
.delivery__tit {
  display: block;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 2.4rem;
  letter-spacing: -.1rem;
  color: #000;
  margin-bottom: 2rem;
}

.notice-more {
  position: absolute;
  top: .5rem;
  right: 0;
  display: block;
  font-size: 0;
}

.notice-more__txt {
  display: inline-block;
  font-size: 1.5rem;
  font-weight: 400;
  color: #777;
  padding-right: .3rem;
}

.notice-more::after {
  content: "";
  display: inline-block;
  width: .7rem;
  height: 1rem;
  background: url("../images/ico_sprite_pc.png") no-repeat -26.9rem -5rem;
  margin: .5rem 0 0 .3rem;
}

.notice-cont {
  position: relative;
  display: block;
}

.notice-list {
  position: relative;
  display: block;
}

.notice-list>li {
  display: block;
  font-size: 0;
  padding: .3rem 0 .4rem 0;
}

.notice-link {
  display: inline-block;
  width: 43.5rem;
  vertical-align: middle;
}

.notice__txt {
  display: block;
  font-size: 1.4rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #666;
}

.notice__date {
  display: inline-block;
  width: 7.5rem;
  font-size: 1.4rem;
  text-align: right;
  vertical-align: top;
  color: #999;
}

.cs-center {
  display: block;
  float: left;
  width: 25%;
}

.cs-center-top {
  display: block;
}

.cs-center-cont {
  display: block;
  margin-top: 4rem;
}

.cs-center__call {
  display: block;
  font-size: 2.7rem;
  color: #000;
}

.cs-center__time {
  display: block;
  font-size: 1.4rem;
  color: #999;
}

.cs-center__time em {
  font-size: 1.7rem;
  font-style: normal;
}

.delivery {
  display: block;
  float: left;
  width: 25%;
}

.delivery-top {
  display: block;
}

.delivery-cont {
  display: block;
}

.delivery__txt {
  display: block;
  font-size: 1.5rem;
  line-height: 1.6;
  color: #777;
}

.delivery-btn {
  display: inline-block;
  height: 3rem;
  font-size: 0;
  border: .1rem solid #ccc;
  margin-top: .5rem;
  padding: 0 1rem;
}

.delivery-btn__txt {
  display: inline-block;
  font-size: 1.3rem;
  line-height: 3rem;
  color: #777;
}

.delivery-btn__icon {
  display: inline-block;
  width: .5rem;
  height: .7rem;
  vertical-align: top;
  background: url("../images/ico_sprite_pc.png") no-repeat -28.5rem -5rem;
  margin: 1.15rem 0 0 .5rem;
}

/* Footer */
.footer {
  position: relative;
  display: block;
}

.footer-top {
  position: relative;
  display: block;
  background: #f8f8f8;
  border-top: .1rem solid #e5e5e5;
  border-bottom: .1rem solid #e5e5e5;
}

.footer-top .container {
  height: 4.8rem;
}

.footer-list {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  padding: 1.5rem 0;
}

.footer-list>li {
  position: relative;
  display: block;
  float: left;
  padding: 0 1.2rem;
}

.footer-list>li:first-child {
  padding-left: 0;
}

.footer-list>li::after {
  content: '';
  position: absolute;
  top: .25rem;
  right: 0;
  display: block;
  width: .1rem;
  height: 1.2rem;
  background: #c6c6c6;
}

.footer-list>li:last-child::after {
  display: none;
}

.footer__menu {
  position: relative;
  display: block;
  font-size: 1.4rem;
  font-weight: 400;
  letter-spacing: normal;
  color: #777;
}

.footer__menu--em {
  font-weight: 700;
  color: #333;
}

.footer-main {
  position: relative;
  display: block;
  padding: 3.3rem 0 3.7rem 0;
}

.footer__logo {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 6.8rem;
  height: 5rem;
  padding-right: 3.4rem;
}

.ceo {
  position: relative;
  display: block;
  margin: 0 0 .4rem 10.2rem;
}

.ceo>li {
  position: relative;
  display: block;
  float: left;
  padding: 0 .8rem;
}

.ceo>li:first-child {
  padding-left: 0;
}

.ceo>li::after {
  content: "";
  position: absolute;
  top: .4rem;
  right: 0;
  display: block;
  width: .1rem;
  height: .9rem;
  background: #c6c6c6;
}

.ceo>li:last-child::after {
  display: none;
}

.footer__item {
  display: block;
  font-size: 1.2rem;
  letter-spacing: -0.075rem;
  color: #7e7e7e;
}

.addr {
  position: relative;
  display: block;
  margin: 0 0 .4rem 10.2rem;
}

.addr>li {
  position: relative;
  display: block;
  float: left;
  padding: 0 .8rem;
}

.addr>li:first-child {
  padding-left: 0;
}

.addr>li::after {
  content: "";
  position: absolute;
  top: .4rem;
  right: 0;
  display: block;
  width: .1rem;
  height: .9rem;
  background: #c6c6c6;
}

.addr>li:last-child::after {
  display: none;
}

.addr>li>.footer__item {
  float: left;
}

.footer__item--bold {
  font-weight: 700;
  text-decoration: underline;
  color: #333;
  margin-left: .3rem;
}

.footer__item--color {
  color: #333;
}

.footer__copy {
  display: block;
  font-size: 1.1rem;
  color: #7e7e7e;
  margin: 1.1rem 0 0 10.2rem;
}

.family {
  position: absolute;
  top: .2rem;
  right: 0;
  display: block;
  width: 16.5rem;
  height: 3.2rem;
  background: url("../images/ui_arr_fsite.png") no-repeat 100% 0;
  cursor: pointer;
}

.family--rotate {
  background-position-y: -3.3rem;
}

.family__btn {
  display: block;
  font-size: 1.3rem;
  line-height: 3rem;
  letter-spacing: -0.025rem;
  color: #555;
  border: .1rem solid #c6c6c6;
  border-radius: 1.7rem;
  padding-left: 1.5rem;
}

.family-list {
  position: absolute;
  bottom: calc(100% - .1rem);
  left: 0;
  display: block;
  width: 16.5rem;
  height: 0;
  z-index: 1;
  overflow: hidden;
  opacity: 0;
  transition: all 0.5s ease;
}

.family-list--show {
  height: 28rem;
  opacity: 1;
}

.family-list>ul {
  display: block;
  background: #fff;
  border: .1rem solid #c6c6c6;
  border-radius: 1.5rem;
  padding: .8rem 1.5rem .7rem 1.5rem;
}

.family-list>ul>li {
  display: block;
  padding: .4rem 0 .3rem 0;
}

.family-list>ul>li {
  display: block;
  border-bottom: .1rem dashed #c6c6c6;
  padding: .4rem 0 .5rem 0;
}

.family-list>ul>li:last-child {
  border-bottom: 0;
}

.family-list span {
  display: block;
  font-size: 1.3rem;
  letter-spacing: 0;
  color: #777;
}

/* Go-top */
.go-top {
  position: fixed;
  bottom: 24rem;
  right: 50%;
  display: block;
  width: 5rem;
  height: 5rem;
  text-align: center;
  background: #fff;
  border: .1rem solid #e4e4e4;
  box-shadow: .1rem 0 .8rem rgba(0, 0, 0, 0.1);
  padding-top: .7rem;
  margin-right: -64rem;
  cursor: pointer;
  z-index: 2;
  opacity: 0;
  transition: all 0.3s ease-in-out;
}

.go-top--show {
  opacity: 1;
}

.go-top__icon {
  display: block;
  width: 1.2rem;
  height: 1.5rem;
  background: url("../images/ico_sprite_pc.png") no-repeat -37.1rem -5rem;
  margin: 0 auto;
}

.go-top__txt {
  display: block;
  font-size: 1.2rem;
  font-weight: 700;
  color: #333;
  margin: .5rem auto 0 auto;
}

/* Black background */
.black-bg {
  position: fixed;
  left: 0;
  top: 0;
  display: none;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .6);
  z-index: 3;
}